<aside>
    <ul>
        <li>
            <span>Leden</span>
            <ul class="second">
                {% for member in members %}
                <li><a href="{{ path('member_details', {memberId: member.id}) }}">{{ member.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</aside>