{% extends 'base.html.twig' %}

{% block title %}Pagina | Fotoclub Uitgeest{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <article class="fullSize">
                <header>
                    <h1>Hallo</h1>
                </header>
                <section>
                    {{ dump(page) }}
                </section>
            </article>
        </div>
    </div>
{% endblock %}
