{% extends 'base.html.twig' %}

{% block title %}{{ page.title |ucwords }} | Fotoclub Uitgeest{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <article class="fullSize">
                <header>
                    <h1>{{ page.title |ucwords }}</h1>
                </header>
                <section>
                    {{ page.text|raw }}
                </section>
            </article>
        </div>
    </div>
{% endblock %}
