{% extends 'base.html.twig' %}

{% block title %}Nieuws | Fotoclub Uitgeest{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            {% include 'news/_leftNav.html.twig' with {'news': news} %}
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="row nieuwsPage">
                {% for years in news %}
                    {% for months in years %}
                        {% for newsItem in months %}
                            <article class="partialSize">
                                <header>
                                    <h1>{{ newsItem.title }}</h1>
                                    <time datetime="{{ newsItem.dateCreated |date('Y-m-d') }}">
                                        {{ newsItem.dateCreated |date('d-m-Y') }}
                                    </time>
                                </header>
                                <section>{{ newsItem.text|raw }}</section>
                            </article>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
