<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Fotoclub Uitgeest">
        <meta name="application-name" content="Fotoclub Uitgeest">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheets %}
            {{ encore_entry_link_tags('fotoclub') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row header-container">
            {% include 'header.html.twig' %}
            </div>

            <div class="mainContent">
                {% block body %}{% endblock %}
            </div>

            {% include 'footer.html.twig' %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('fotoclub') }}
        {% endblock %}
    </body>
</html>
