<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('fotoclub') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row header-container">
            {% include 'header.html.twig' %}
            </div>

            <div class="mainContent">
                {% block body %}{% endblock %}
            </div>

            {% include 'footer.html.twig' %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('fotoclub') }}
        {% endblock %}
    </body>
</html>
