<footer class="footer">
    <nav class="col-lg-12 navbar navbar-fotoclub">
        <div class="container-fluid">
            <div id="navbar">
                {{ mopa_bootstrap_menu('main', {'automenu': 'navbar'}) }}
            </div>
        </div>
    </nav>
</footer>