<nav class="navbar navbar-fotoclub">
    <div class="container-fluid">
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li class="home"><a href="{{ path('home') }}">Home</a></li>
                <li class="galerij dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Galerij <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('members_overview') }}">Leden</a></li>
                        <li><a href="{{ path('competitions') }}">Competities</a></li>
                    </ul>
                </li>
                <li class="nieuws"><a href="">Nieuws</a></li>
                <li class="agenda"><a href="">Agenda</a></li>
                <li class="contact"><a href="">Contact</a></li>
                <li class="info"><a href="">Info</a></li>
                <li class="links"><a href="">Links</a></li>
            </ul>
        </div>
    </div>
</nav>
